.dash-cover {
  display: flex;
  justify-content: space-between;
}
.left-dash {
  width: 46%;
  margin-left: 3rem;
}
.left-step-dash{
  width: 40%;
  margin-left: 4rem;
  margin-top: 4rem;
  background: #ffffff;

  border: 0.5px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 0px 11px 11px 11px;
}
.left-deal-dash {
  width: 46%;
  margin-left: 1.6rem;
}
.right-deal-dash {
  width: 46%;
  margin-right: 1.4rem;
}
.right-dash {
  width: 48%;
  margin-right: 3rem;
}
.right-dash-inner {
  background: #ffffff;

  border: 0.5px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 0px 11px 11px 11px;
}

.tab-div {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  margin-top: 4.5rem;
}
.tab-click {
  display: flex;
  margin-top: 4.5rem;
  width: 100%;
  margin-left: 4.5rem;
}
.tab-inners{
  display: flex !important;
  /* width: 100% !important; */
  justify-content: space-between !important;
  background-color:red
}
.tab-inners-left {
  width: 50% !important;
  padding-top: 2.7rem !important;
}
.tab-inners-right {
  padding-top:3rem;
  /* width: 50%; */
}
.tab-profile {
  padding: 2.5rem 5.3rem !important;
}
.tab-password {
  width: 100% !important;
  display: flex !important;
  padding-top: 3rem;
  padding-left: 4rem;
  flex-direction: column !important;
  justify-content: left;

}
.search-div {
  display: flex;
  justify-content: center;
  /* margin-top: 5rem; */
  width: 88%;
  margin: 7rem auto 1rem auto;
}
.select-div {
  width: 88%;
  margin: 1rem auto 3rem auto;
  display: flex;
  justify-content: center;
}
.btn-div {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}
.text-act {
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  text-align: left;
}
.act-box-holder {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.act-box {
  display: flex;
  width: 80%;
  border-radius: 0px 11px 11px 11px;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;

  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1.1rem 0;
  margin-bottom: 1.2rem;
}
.history {
  padding-top: 4.3rem;
  padding-bottom: 0.9rem;
}
.payment-div {
  /* background: brown; */
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 0px 11px 0px 0px;
  border: 0.5px solid #d9d9d9;
}
.transactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #d9d9d9;
  padding: 1.6rem 0;
}
.transactions-inner {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
}
.trans-tab {
  padding: 0 !important;
}
.deals-left {
  background: #ffffff;
  border: 0.5px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 0px 11px 11px 11px;
}
.tab-inner-div {
  display: flex;
}
@media screen and (max-width: 768px) {
  .dash-cover {
    flex-direction: column;
    justify-content: center;
  }
  .left-dash {
    margin-left: 0.8rem;
    width: 100%;
  }
  .left-step-dash {
    margin: 0 auto;
    width: 98%;
  }
  .left-deal-dash {
    margin: 0 auto;
    width: 97%;
  }
  .tab-div {
    justify-content: center;
    margin-top: 1.7rem;
  }
  .balance {
    text-align: center;
  }
  .act-box {
    width: 70%;
  }
  .act-box-holder {
    align-items: center;
  }
  .text-act {
    text-align: center;
  }
  .right-dash {
    width: 92%;
    margin: 0 auto;
  }
  .right-deal-dash {
    width: 92%;
    margin: 0 auto;
  }
}
