/* NEW */
.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid #d9d9d9;
}
#first-link {
  padding-top: 11rem;
}
.sidebar-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar a {
  display: block;
  color: #bfbfbf;
  padding: 28px 0px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.sidebar a.active {
  color: #273b4a;
}

.sidebar a:hover:not(.active) {
  /* color: #273b4a; */
}
.icon-name {
  padding-left: 1rem;
  color: #bfbfbf;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.logomark {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; */
  }
  .sidebar a {
    /* float: left; */
  }
  div.content {
    margin-left: 0;
  }
  .logomark {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  .sidebar-inner {
    padding-bottom: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .sidebar a {
    text-align: center;
    float: none;
    padding: 15px 0;
  }
  #first-link {
    padding-top: 4rem;
  }
}
